<% content_for :title, "Editing abstrakte abschlussarbeit" %>

<h1>Editing abstrakte abschlussarbeit</h1>

<%= render "form", abstrakte_abschlussarbeit: @abstrakte_abschlussarbeit %>

<br>

<div>
  <%= link_to "Show this abstrakte abschlussarbeit", @abstrakte_abschlussarbeit %> |
  <%= link_to "Back to abstrakte abschlussarbeits", abstrakte_abschlussarbeits_path %>
</div>
