<% content_for :title, "New abstrakte abschlussarbeit" %>

<h1>Neue abstrakte Abschlussarbeit erstellen</h1>

<%= render "form", abstrakte_abschlussarbeit: @abstrakte_abschlussarbeit %>

<br>

<div>
  <%= link_to "Zurück" , abstrakte_abschlussarbeits_path, class: "btn btn-secondary" %>
</div>
