<% content_for :title, "Editing konkrete abschlussarbeit" %>

<h1>Editing konkrete abschlussarbeit</h1>

<%= render "form", konkrete_abschlussarbeit: @konkrete_abschlussarbeit %>

<br>

<div>
  <%= link_to "Show this konkrete abschlussarbeit", @konkrete_abschlussarbeit %> |
  <%= link_to "Back to konkrete abschlussarbeits", konkrete_abschlussarbeits_path %>
</div>
