<% content_for :title, "Neue konkrete Abschlussarbeit" %>

<h1>Neue konkrete Abschlussarbeit erstellen</h1>

<%= render "form", konkrete_abschlussarbeit: @konkrete_abschlussarbeit %>

<br>

<div>
  <%= link_to "Zurück", konkrete_abschlussarbeits_path, class: "btn btn-secondary" %>
</div>
